<h2>Login</h2>
<form name="form" ng-submit="usersService.doLogin(username, password);" role="form" method="GET">
	<div class="form-group">
		<label for="username">Username:</label>
		<span ng-show="!username" class="text-danger">*</span>
		<input type="text" name="username" id="username" class="form-control login-form" ng-model="username" required />
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<span ng-show="!password" class="text-danger">*</span>
		<input type="password" name="password" id="password" class="form-control login-form" ng-model="password" required />
	</div>
	<div class="form-actions">
		<button type="submit" ng-disabled="!username || !password" class="btn btn-success">Login &gt; </button>
	</div>
	<div class="form-group">
		<p ng-show="usersService.failAuth" class="alert alert-danger">Authentication failed. Wrong Username or Password (see Readme.md to learn about existing accounts).</p>
	</div>
	
</form>
